<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for loading images -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdaptiveLayout"
        android:usesCleartextTraffic="true"
        tools:targetApi="36">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|density"
            android:exported="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.AdaptiveLayout"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="36">

            <!-- Enable resizability for tablets/foldables/desktop -->
            <meta-data
                android:name="android.supports_size_changes"
                android:value="true" />


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Enable adaptive layouts for Android 16+ -->
        <meta-data
            android:name="android.allow_ignore_orientation_request"
            android:value="true" />
    </application>

</manifest>